.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff; }

.map-overlay {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 56.25vw; }

.map-video {
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
  max-width: 100vw; }

.map-item {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0;
  bottom: 0;
  z-index: 10;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
  opacity: 0;
  display: block; }
  .map-item img {
    width: 100%;
    height: 100%; }

.map-item.visible {
  opacity: 1; }

.map-item-1 {
  display: block; }

.map-item-2 {
  display: block; }

.map-item-3 {
  display: block; }

.map-item-4 {
  display: block; }

.map-item-5 {
  display: block; }

.map-item-6 {
  display: block; }

.map-item-7 {
  display: block; }

.map-item-8 {
  display: block; }

.map-item.active {
  display: block;
  opacity: 1; }

.map-item__cursor {
  background: transparent;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  opacity: .2; }

.cursor-1 {
  width: 7.8125vw;
  height: 12.41667vw;
  bottom: 0.5625vw;
  left: 14.84167vw;
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }

.cursor-2 {
  width: 28vw;
  height: 14.41667vw;
  top: 0.5625vw;
  top: 24.84167vw;
  left: 36vw; }

.cursor-3 {
  width: 14.4vw;
  height: 12.1667vw;
  top: 0.5625vw;
  top: 33vw;
  left: 24.9vw;
  -webkit-transform: rotate(-34deg);
      -ms-transform: rotate(-34deg);
          transform: rotate(-34deg);
  z-index: 300; }

.cursor-4 {
  width: 11vw;
  height: 9.1667vw;
  bottom: 3vw;
  left: 42.9vw;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(-31deg); }

.cursor-5 {
  width: 9.4vw;
  height: 8.1667vw;
  bottom: 11.5vw;
  right: 29.7vw;
  -webkit-transform: rotate(-41deg);
  z-index: 300; }

.cursor-6 {
  width: 7.4vw;
  height: 5.5667vw;
  top: 31vw;
  right: 20.9vw; }

.cursor-7 {
  width: 11vw;
  height: 7.2vw;
  bottom: 14vw;
  right: 5.2vw;
  -webkit-transform: rotate(31deg);
      -ms-transform: rotate(31deg);
          transform: rotate(31deg); }

.cursor-8 {
  width: 12vw;
  height: 8.2vw;
  bottom: 5vw;
  right: 16.2vw;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(34deg);
      -ms-transform: rotate(34deg);
          transform: rotate(34deg); }

.cursor-9 {
  width: 9.7vw;
  height: 6.4vw;
  top: 25vw;
  right: 13.2vw;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg); }

.cursor-10 {
  width: 5.3vw;
  height: 3.8vw;
  top: 23.2vw;
  right: 8.2vw;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg); }

.cursor-11 {
  width: 10.3vw;
  height: 7.2vw;
  top: 16.9vw;
  right: 14.2vw;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(17deg);
  z-index: 400; }

.cursor-12 {
  width: 13.3vw;
  height: 8.7vw;
  top: 19.9vw;
  right: 26.2vw;
  z-index: 500; }

.cursor-13 {
  width: 10.3vw;
  height: 5.7vw;
  top: 15vw;
  right: 28.2vw;
  z-index: 700;
  -webkit-transform: rotate(14deg);
      -ms-transform: rotate(14deg);
          transform: rotate(14deg); }

.cursor-14 {
  width: 5.3vw;
  height: 4.7vw;
  top: 16vw;
  right: 41.8vw; }

.cursor-15 {
  width: 6.5vw;
  height: 6.7vw;
  top: 7vw;
  right: 38.4vw; }

.cursor-16 {
  width: 19vw;
  height: 7.7vw;
  top: 9.3vw;
  right: 15vw;
  -webkit-transform: rotate(13deg);
      -ms-transform: rotate(13deg);
          transform: rotate(13deg); }

.cursor-17 {
  width: 8vw;
  height: 4.7vw;
  top: 12.3vw;
  left: 23vw;
  -webkit-transform: rotate(-17deg);
      -ms-transform: rotate(-17deg);
          transform: rotate(-17deg); }

.cursor-18 {
  width: 9vw;
  height: 6.7vw;
  top: 12.3vw;
  left: 15vw;
  -webkit-transform: rotate(-19deg);
      -ms-transform: rotate(-19deg);
          transform: rotate(-19deg); }

.cursor-19 {
  width: 13vw;
  height: 9.7vw;
  bottom: 15.3vw;
  left: 5vw;
  -webkit-transform: rotate(-29deg);
      -ms-transform: rotate(-29deg);
          transform: rotate(-29deg); }

.cursor-20 {
  width: 8.9vw;
  height: 8.2vw;
  top: 13.4vw;
  left: 7vw;
  z-index: 500; }

.cursor-21 {
  width: 15.9vw;
  height: 8.2vw;
  top: 24.4vw;
  left: 9vw;
  z-index: 500;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg); }

.cursor-22 {
  width: 17.9vw;
  height: 9.2vw;
  top: 16.4vw;
  left: 28vw; }

.map-info-block {
  position: absolute;
  z-index: 100000;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: -0.57292vw 0.41667vw 0.9375vw rgba(0, 0, 0, 0.35);
          box-shadow: -0.57292vw 0.41667vw 0.9375vw rgba(0, 0, 0, 0.35);
  border-radius: 0.15625vw;
  padding-top: 0.83333vw;
  padding-bottom: 0.83333vw;
  padding-left: 0.52083vw;
  padding-right: 0.57292vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }

.map-info-block.active {
  opacity: 1;
  visibility: visible; }

.map-info-block__title {
  font-family: Arial;
  font-size: 0.72917vw; }

@media (min-width: 768px) {
  .mob-true {
    display: none !important; } }

@media (max-width: 767px) {
  .pc-true {
    display: none !important; } }

html, body {
  font-size: 16px;
  overflow-x: hidden; }

body {
  overflow: hidden;
  position: relative;
  background-color: #fff; }

input {
  outline: none; }

ul, li {
  list-style-type: none;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: inherit; }

* {
  padding: 0;
  margin: 0;
  outline: none !important; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLnNjc3MiLCJfbWVkaWEuc2NzcyIsIm1haW4uc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFHQTtFQUNDLG9CQUFhO0VBQWIsb0JBQWE7RUFBYixhQUFhO0VBQ2Isd0JBQXVCO01BQXZCLHFCQUF1QjtVQUF2Qix1QkFBdUI7RUFDdkIsZ0JBQWdCLEVBQUE7O0FBRWpCO0VBQ0Msa0JBQWtCO0VBQ2xCLG9CQUFhO0VBQWIsb0JBQWE7RUFBYixhQUFhO0VBQ2IsWUFWMEI7RUFXMUIsZUFYMEIsRUFBQTs7QUFhM0I7RUFDQyxrQkFBa0I7RUFDbEIsaUJBQWlCO0VBQ2pCLFlBaEIwQjtFQWlCMUIsZ0JBakIwQixFQUFBOztBQW1CM0I7RUFDQyxrQkFBa0I7RUFDbEIsU0FBUztFQUNULFFBQVE7RUFDUixRQUFRO0VBQ1IsU0FBUztFQUNULFdBQVc7RUFDWCxnQ0FBd0I7RUFBeEIsMkJBQXdCO0VBQXhCLHdCQUF3QjtFQUN4QixVQUFVO0VBTVYsY0FBYyxFQUFBO0VBZGY7SUFVRSxXQUFXO0lBQ1gsWUFBWSxFQUFBOztBQUtkO0VBQ0MsVUFBVSxFQUFBOztBQUVYO0VBQ0MsY0FBYyxFQUFBOztBQUVmO0VBQ0MsY0FBYyxFQUFBOztBQUVmO0VBQ0MsY0FBYyxFQUFBOztBQUVmO0VBQ0MsY0FBYyxFQUFBOztBQUVmO0VBQ0MsY0FBYyxFQUFBOztBQUVmO0VBQ0MsY0FBYyxFQUFBOztBQUVmO0VBQ0MsY0FBYyxFQUFBOztBQUVmO0VBQ0MsY0FBYyxFQUFBOztBQUVmO0VBQ0MsY0FBYztFQUNkLFVBQVUsRUFBQTs7QUFFWDtFQUNDLHVCQUF1QjtFQUN2QixrQkFBa0I7RUFDZixZQUFZO0VBQ2YsZUFBZTtFQUNmLFdBQVcsRUFBQTs7QUFHWjtFQUNDLGVBQWU7RUFDWixrQkFBa0I7RUFDbEIsZ0JBQWdCO0VBQ2hCLGdCQUFnQjtFQUNuQixnQ0FBd0I7TUFBeEIsNEJBQXdCO1VBQXhCLHdCQUF3QixFQUFBOztBQUV6QjtFQUNDLFdBQVc7RUFDWCxrQkFBa0I7RUFDbEIsYUFBYTtFQUNiLGVBQWU7RUFDZixVQUFVLEVBQUE7O0FBRVg7RUFDQyxhQUFhO0VBQ2IsaUJBQWlCO0VBQ2pCLGFBQWE7RUFDYixTQUFTO0VBQ1QsWUFBWTtFQUNaLGlDQUF5QjtNQUF6Qiw2QkFBeUI7VUFBekIseUJBQXlCO0VBQ3pCLFlBQVksRUFBQTs7QUFFYjtFQUNDLFdBQVc7RUFDUixnQkFBZ0I7RUFDaEIsV0FBVztFQUNYLFlBQVk7RUFDWiwrQkFBK0I7RUFDL0IsMkJBQTJCO0VBQzNCLHlCQUF5QixFQUFBOztBQUU3QjtFQUNDLFlBQVk7RUFDVCxnQkFBZ0I7RUFDaEIsY0FBYztFQUNkLGFBQWE7RUFDYixpQ0FBaUM7RUFDakMsWUFBWSxFQUFBOztBQUVoQjtFQUNDLFlBQVk7RUFDWixnQkFBZ0I7RUFDaEIsU0FBUztFQUNULGFBQWEsRUFBQTs7QUFFZDtFQUNDLFdBQVc7RUFDWCxhQUFhO0VBQ2IsWUFBWTtFQUNaLFlBQVk7RUFDWixnQ0FBd0I7TUFBeEIsNEJBQXdCO1VBQXhCLHdCQUF3QixFQUFBOztBQUV6QjtFQUNDLFdBQVc7RUFDUixhQUFhO0VBQ2IsV0FBVztFQUNYLGFBQWE7RUFDYixnQ0FBd0I7TUFBeEIsNEJBQXdCO1VBQXhCLHdCQUF3QjtFQUN4QixnQ0FBd0I7TUFBeEIsNEJBQXdCO1VBQXhCLHdCQUF3QixFQUFBOztBQUU1QjtFQUNDLFlBQVk7RUFDVCxhQUFhO0VBQ2IsU0FBUztFQUNULGFBQWE7RUFDYixnQ0FBZ0M7RUFDaEMsNEJBQTRCO0VBQzVCLHdCQUF3QjtFQUN4QixnQ0FBd0I7TUFBeEIsNEJBQXdCO1VBQXhCLHdCQUF3QixFQUFBOztBQUU1QjtFQUNDLFlBQVk7RUFDVCxhQUFhO0VBQ2IsV0FBVztFQUNYLFlBQVk7RUFDWiwrQkFBdUI7TUFBdkIsMkJBQXVCO1VBQXZCLHVCQUF1QixFQUFBOztBQUUzQjtFQUNDLGFBQWE7RUFDYixhQUFhO0VBQ2IsV0FBVztFQUNYLGFBQWE7RUFDYiwrQkFBK0I7RUFDL0IsMkJBQTJCO0VBQzNCLHdCQUF3QjtFQUN4QixZQUFZLEVBQUE7O0FBRWI7RUFDQyxhQUFhO0VBQ1YsYUFBYTtFQUNiLFdBQVc7RUFDWCxhQUFhO0VBQ2IsWUFBWSxFQUFBOztBQUVoQjtFQUNDLGFBQWE7RUFDYixhQUFhO0VBQ2IsU0FBUztFQUNULGFBQWE7RUFDYixZQUFZO0VBQ1osZ0NBQXdCO01BQXhCLDRCQUF3QjtVQUF4Qix3QkFBd0IsRUFBQTs7QUFFekI7RUFDQyxZQUFZO0VBQ1QsYUFBYTtFQUNiLFNBQVM7RUFDVCxhQUFhLEVBQUE7O0FBRWpCO0VBQ0MsWUFBWTtFQUNaLGFBQWE7RUFDYixRQUFRO0VBQ1IsYUFBYSxFQUFBOztBQUVkO0VBQ0MsV0FBVztFQUNSLGFBQWE7RUFDYixVQUFVO0VBQ1YsV0FBVztFQUNYLGdDQUF3QjtNQUF4Qiw0QkFBd0I7VUFBeEIsd0JBQXdCLEVBQUE7O0FBRTVCO0VBQ0MsVUFBVTtFQUNWLGFBQWE7RUFDYixXQUFXO0VBQ1gsVUFBVTtFQUNWLGlDQUF5QjtNQUF6Qiw2QkFBeUI7VUFBekIseUJBQXlCLEVBQUE7O0FBRTFCO0VBQ0MsVUFBVTtFQUNWLGFBQWE7RUFDYixXQUFXO0VBQ1gsVUFBVTtFQUNWLGlDQUF5QjtNQUF6Qiw2QkFBeUI7VUFBekIseUJBQXlCLEVBQUE7O0FBRTFCO0VBQ0MsV0FBVztFQUNSLGFBQWE7RUFDYixjQUFjO0VBQ2QsU0FBUztFQUNULGlDQUF5QjtNQUF6Qiw2QkFBeUI7VUFBekIseUJBQXlCLEVBQUE7O0FBRTdCO0VBQ0MsWUFBWTtFQUNaLGFBQWE7RUFDYixXQUFXO0VBQ1gsU0FBUztFQUNULFlBQVksRUFBQTs7QUFFYjtFQUNDLGFBQWE7RUFDVixhQUFhO0VBQ2IsV0FBVztFQUNYLFNBQVM7RUFDVCxZQUFZO0VBQ1osZ0NBQWdDO0VBQ2hDLDRCQUE0QjtFQUM1Qix3QkFBd0IsRUFBQTs7QUFFNUI7RUFDQyxhQUFhO0VBQ1YsYUFBYTtFQUNiLFdBQVc7RUFDWCxVQUFVLEVBQUE7O0FBRWQ7RUFDQyxrQkFBa0I7RUFDbEIsZUFBZTtFQUNmLGdDQUF3QjtFQUF4QiwyQkFBd0I7RUFBeEIsd0JBQXdCO0VBQ3hCLG9CQUFhO0VBQWIsb0JBQWE7RUFBYixhQUFhO0VBQ2IsNEJBQXNCO0VBQXRCLDZCQUFzQjtNQUF0QiwwQkFBc0I7VUFBdEIsc0JBQXNCO0VBQ3RCLG1CQUFtQjtFQUNuQixxRUFBb0Q7VUFBcEQsNkRBQW9EO0VBQ3BELHdCQXhQMEI7RUF5UDFCLHNCQXpQMEI7RUEwUDFCLHlCQTFQMEI7RUEyUDFCLHVCQTNQMEI7RUE0UDFCLHdCQTVQMEI7RUE2UDFCLFVBQVU7RUFDVixrQkFBa0I7RUFDbEIsb0JBQW9CLEVBQUE7O0FBRXJCO0VBQ0MsVUFBVTtFQUNWLG1CQUFtQixFQUFBOztBQUVwQjtFQUNDLGtCQUFrQjtFQUNsQixvQkF2UTBCLEVBQUE7O0FDRTNCO0VBQ0M7SUFDQyx3QkFBdUIsRUFBQSxFQUN2Qjs7QUFFRjtFQUNDO0lBQ0Msd0JBQXVCLEVBQUEsRUFDdkI7O0FDTkY7RUFDQyxlQUFlO0VBQ2Ysa0JBQWtCLEVBQUE7O0FBS25CO0VBQ0MsZ0JBQWdCO0VBQ2hCLGtCQUFrQjtFQUNsQixzQkFBc0IsRUFBQTs7QUFFdkI7RUFDQyxhQUFhLEVBQUE7O0FBR2Q7RUFDQyxxQkFBcUI7RUFDckIsZ0JBQWdCLEVBQUE7O0FBRWpCO0VBQ0MsZ0JBQWdCLEVBQUE7O0FBRWpCO0VBQ0MsY0FBYztFQUNkLHFCQUFxQixFQUFBO0VBRnRCO0lBSUUscUJBQXFCO0lBQ3JCLGNBQWMsRUFBQTs7QUFHaEI7RUFDQyxVQUFVO0VBQ1YsU0FBUztFQUNULHdCQUF1QixFQUFBIiwiZmlsZSI6Im1haW4uY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQGZ1bmN0aW9uIHZ3KCRweCkge1xyXG5cdEByZXR1cm4gJHB4LygxOTIwIC8gMTAwdncpO1xyXG59XHJcbi5tYXB7XHJcblx0ZGlzcGxheTogZmxleDtcclxuXHRqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcclxuXHRiYWNrZ3JvdW5kOiAjZmZmO1xyXG59XHJcbi5tYXAtb3ZlcmxheXtcclxuXHRwb3NpdGlvbjogcmVsYXRpdmU7XHJcblx0ZGlzcGxheTogZmxleDtcclxuXHR3aWR0aDogdncoMTkyMCk7XHJcblx0aGVpZ2h0OiB2dygxMDgwKTtcclxufVxyXG4ubWFwLXZpZGVve1xyXG5cdG1hcmdpbi1yaWdodDogYXV0bztcclxuXHRtYXJnaW4tbGVmdDogYXV0bztcclxuXHR3aWR0aDogdncoMTkyMCk7XHJcblx0bWF4LXdpZHRoOiB2dygxOTIwKTtcclxufVxyXG4ubWFwLWl0ZW17XHJcblx0cG9zaXRpb246IGFic29sdXRlO1xyXG5cdGxlZnQ6IDBweDtcclxuXHR0b3A6IDBweDtcclxuXHRyaWdodDogMDtcclxuXHRib3R0b206IDA7XHJcblx0ei1pbmRleDogMTA7XHJcblx0dHJhbnNpdGlvbjogLjRzIGFsbCBlYXNlO1xyXG5cdG9wYWNpdHk6IDA7XHJcblx0aW1ne1xyXG5cdFx0d2lkdGg6IDEwMCU7XHJcblx0XHRoZWlnaHQ6IDEwMCU7XHJcblx0XHRcclxuXHR9XHJcblx0ZGlzcGxheTogYmxvY2s7XHJcbn1cclxuLm1hcC1pdGVtLnZpc2libGV7XHJcblx0b3BhY2l0eTogMTtcclxufVxyXG4ubWFwLWl0ZW0tMXtcclxuXHRkaXNwbGF5OiBibG9jaztcclxufVxyXG4ubWFwLWl0ZW0tMntcclxuXHRkaXNwbGF5OiBibG9jaztcclxufVxyXG4ubWFwLWl0ZW0tM3tcclxuXHRkaXNwbGF5OiBibG9jaztcclxufVxyXG4ubWFwLWl0ZW0tNHtcclxuXHRkaXNwbGF5OiBibG9jaztcclxufVxyXG4ubWFwLWl0ZW0tNXtcclxuXHRkaXNwbGF5OiBibG9jaztcclxufVxyXG4ubWFwLWl0ZW0tNntcclxuXHRkaXNwbGF5OiBibG9jaztcclxufVxyXG4ubWFwLWl0ZW0tN3tcclxuXHRkaXNwbGF5OiBibG9jaztcclxufVxyXG4ubWFwLWl0ZW0tOHtcclxuXHRkaXNwbGF5OiBibG9jaztcclxufVxyXG4ubWFwLWl0ZW0uYWN0aXZle1xyXG5cdGRpc3BsYXk6IGJsb2NrO1xyXG5cdG9wYWNpdHk6IDE7XHJcbn1cclxuLm1hcC1pdGVtX19jdXJzb3J7XHJcblx0YmFja2dyb3VuZDogdHJhbnNwYXJlbnQ7XHJcblx0cG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgei1pbmRleDogMTAwO1xyXG5cdGN1cnNvcjogcG9pbnRlcjtcclxuXHRvcGFjaXR5OiAuMjtcclxufVxyXG5cclxuLmN1cnNvci0xe1xyXG5cdHdpZHRoOiA3LjgxMjV2dztcclxuICAgIGhlaWdodDogMTIuNDE2Njd2dztcclxuICAgIGJvdHRvbTogMC41NjI1dnc7XHJcbiAgICBsZWZ0OiAxNC44NDE2N3Z3O1xyXG5cdHRyYW5zZm9ybTogcm90YXRlKDYwZGVnKTtcclxufVxyXG4uY3Vyc29yLTJ7XHJcblx0d2lkdGg6IDI4dnc7XHJcblx0aGVpZ2h0OiAxNC40MTY2N3Z3O1xyXG5cdHRvcDogMC41NjI1dnc7XHJcblx0dG9wOiAyNC44NDE2N3Z3O1xyXG5cdGxlZnQ6IDM2dnc7XHJcbn1cclxuLmN1cnNvci0ze1xyXG5cdHdpZHRoOiAxNC40dnc7XHJcblx0aGVpZ2h0OiAxMi4xNjY3dnc7XHJcblx0dG9wOiAwLjU2MjV2dztcclxuXHR0b3A6IDMzdnc7XHJcblx0bGVmdDogMjQuOXZ3O1xyXG5cdHRyYW5zZm9ybTogcm90YXRlKC0zNGRlZyk7XHJcblx0ei1pbmRleDogMzAwO1xyXG59XHJcbi5jdXJzb3ItNHtcclxuXHR3aWR0aDogMTF2dztcclxuICAgIGhlaWdodDogOS4xNjY3dnc7XHJcbiAgICBib3R0b206IDN2dztcclxuICAgIGxlZnQ6IDQyLjl2dztcclxuICAgIC13ZWJraXQtdHJhbnNmb3JtOiByb3RhdGUoMGRlZyk7XHJcbiAgICAtbXMtdHJhbnNmb3JtOiByb3RhdGUoMGRlZyk7XHJcbiAgICB0cmFuc2Zvcm06IHJvdGF0ZSgtMzFkZWcpO1xyXG59XHJcbi5jdXJzb3ItNXtcclxuXHR3aWR0aDogOS40dnc7XHJcbiAgICBoZWlnaHQ6IDguMTY2N3Z3O1xyXG4gICAgYm90dG9tOiAxMS41dnc7XHJcbiAgICByaWdodDogMjkuN3Z3O1xyXG4gICAgLXdlYmtpdC10cmFuc2Zvcm06IHJvdGF0ZSgtNDFkZWcpO1xyXG4gICAgei1pbmRleDogMzAwO1xyXG59XHJcbi5jdXJzb3ItNntcclxuXHR3aWR0aDogNy40dnc7XHJcblx0aGVpZ2h0OiA1LjU2Njd2dztcclxuXHR0b3A6IDMxdnc7XHJcblx0cmlnaHQ6IDIwLjl2dztcclxufVxyXG4uY3Vyc29yLTd7XHJcblx0d2lkdGg6IDExdnc7XHJcblx0aGVpZ2h0OiA3LjJ2dztcclxuXHRib3R0b206IDE0dnc7XHJcblx0cmlnaHQ6IDUuMnZ3O1xyXG5cdHRyYW5zZm9ybTogcm90YXRlKDMxZGVnKTtcclxufVxyXG4uY3Vyc29yLTh7XHJcblx0d2lkdGg6IDEydnc7XHJcbiAgICBoZWlnaHQ6IDguMnZ3O1xyXG4gICAgYm90dG9tOiA1dnc7XHJcbiAgICByaWdodDogMTYuMnZ3O1xyXG4gICAgdHJhbnNmb3JtLW9yaWdpbjogY2VudGVyO1xyXG4gICAgdHJhbnNmb3JtOiByb3RhdGUoMzRkZWcpO1xyXG59XHJcbi5jdXJzb3ItOXtcclxuXHR3aWR0aDogOS43dnc7XHJcbiAgICBoZWlnaHQ6IDYuNHZ3O1xyXG4gICAgdG9wOiAyNXZ3O1xyXG4gICAgcmlnaHQ6IDEzLjJ2dztcclxuICAgIC13ZWJraXQtdHJhbnNmb3JtLW9yaWdpbjogY2VudGVyO1xyXG4gICAgLW1zLXRyYW5zZm9ybS1vcmlnaW46IGNlbnRlcjtcclxuICAgIHRyYW5zZm9ybS1vcmlnaW46IGNlbnRlcjtcclxuICAgIHRyYW5zZm9ybTogcm90YXRlKDI1ZGVnKTtcclxufVxyXG4uY3Vyc29yLTEwe1xyXG5cdHdpZHRoOiA1LjN2dztcclxuICAgIGhlaWdodDogMy44dnc7XHJcbiAgICB0b3A6IDIzLjJ2dztcclxuICAgIHJpZ2h0OiA4LjJ2dztcclxuICAgIHRyYW5zZm9ybTogcm90YXRlKDBkZWcpO1xyXG59XHJcbi5jdXJzb3ItMTF7XHJcblx0d2lkdGg6IDEwLjN2dztcclxuXHRoZWlnaHQ6IDcuMnZ3O1xyXG5cdHRvcDogMTYuOXZ3O1xyXG5cdHJpZ2h0OiAxNC4ydnc7XHJcblx0LXdlYmtpdC10cmFuc2Zvcm06IHJvdGF0ZSgwZGVnKTtcclxuXHQtbXMtdHJhbnNmb3JtOiByb3RhdGUoMGRlZyk7XHJcblx0dHJhbnNmb3JtOiByb3RhdGUoMTdkZWcpO1xyXG5cdHotaW5kZXg6IDQwMDtcclxufVxyXG4uY3Vyc29yLTEye1xyXG5cdHdpZHRoOiAxMy4zdnc7XHJcbiAgICBoZWlnaHQ6IDguN3Z3O1xyXG4gICAgdG9wOiAxOS45dnc7XHJcbiAgICByaWdodDogMjYuMnZ3O1xyXG4gICAgei1pbmRleDogNTAwO1xyXG59XHJcbi5jdXJzb3ItMTN7XHJcblx0d2lkdGg6IDEwLjN2dztcclxuXHRoZWlnaHQ6IDUuN3Z3O1xyXG5cdHRvcDogMTV2dztcclxuXHRyaWdodDogMjguMnZ3O1xyXG5cdHotaW5kZXg6IDcwMDtcclxuXHR0cmFuc2Zvcm06IHJvdGF0ZSgxNGRlZyk7XHJcbn1cclxuLmN1cnNvci0xNHtcclxuXHR3aWR0aDogNS4zdnc7XHJcbiAgICBoZWlnaHQ6IDQuN3Z3O1xyXG4gICAgdG9wOiAxNnZ3O1xyXG4gICAgcmlnaHQ6IDQxLjh2dztcclxufVxyXG4uY3Vyc29yLTE1e1xyXG5cdHdpZHRoOiA2LjV2dztcclxuXHRoZWlnaHQ6IDYuN3Z3O1xyXG5cdHRvcDogN3Z3O1xyXG5cdHJpZ2h0OiAzOC40dnc7XHJcbn1cclxuLmN1cnNvci0xNntcclxuXHR3aWR0aDogMTl2dztcclxuICAgIGhlaWdodDogNy43dnc7XHJcbiAgICB0b3A6IDkuM3Z3O1xyXG4gICAgcmlnaHQ6IDE1dnc7XHJcbiAgICB0cmFuc2Zvcm06IHJvdGF0ZSgxM2RlZyk7XHJcbn1cclxuLmN1cnNvci0xN3tcclxuXHR3aWR0aDogOHZ3O1xyXG5cdGhlaWdodDogNC43dnc7XHJcblx0dG9wOiAxMi4zdnc7XHJcblx0bGVmdDogMjN2dztcclxuXHR0cmFuc2Zvcm06IHJvdGF0ZSgtMTdkZWcpO1xyXG59XHJcbi5jdXJzb3ItMTh7XHJcblx0d2lkdGg6IDl2dztcclxuXHRoZWlnaHQ6IDYuN3Z3O1xyXG5cdHRvcDogMTIuM3Z3O1xyXG5cdGxlZnQ6IDE1dnc7XHJcblx0dHJhbnNmb3JtOiByb3RhdGUoLTE5ZGVnKTtcclxufVxyXG4uY3Vyc29yLTE5e1xyXG5cdHdpZHRoOiAxM3Z3O1xyXG4gICAgaGVpZ2h0OiA5Ljd2dztcclxuICAgIGJvdHRvbTogMTUuM3Z3O1xyXG4gICAgbGVmdDogNXZ3O1xyXG4gICAgdHJhbnNmb3JtOiByb3RhdGUoLTI5ZGVnKTtcclxufVxyXG4uY3Vyc29yLTIwe1xyXG5cdHdpZHRoOiA4Ljl2dztcclxuXHRoZWlnaHQ6IDguMnZ3O1xyXG5cdHRvcDogMTMuNHZ3O1xyXG5cdGxlZnQ6IDd2dztcclxuXHR6LWluZGV4OiA1MDA7XHJcbn1cclxuLmN1cnNvci0yMXtcclxuXHR3aWR0aDogMTUuOXZ3O1xyXG4gICAgaGVpZ2h0OiA4LjJ2dztcclxuICAgIHRvcDogMjQuNHZ3O1xyXG4gICAgbGVmdDogOXZ3O1xyXG4gICAgei1pbmRleDogNTAwO1xyXG4gICAgLXdlYmtpdC10cmFuc2Zvcm06IHJvdGF0ZSgzNWRlZyk7XHJcbiAgICAtbXMtdHJhbnNmb3JtOiByb3RhdGUoMzVkZWcpO1xyXG4gICAgdHJhbnNmb3JtOiByb3RhdGUoMzVkZWcpO1xyXG59XHJcbi5jdXJzb3ItMjJ7XHJcblx0d2lkdGg6IDE3Ljl2dztcclxuICAgIGhlaWdodDogOS4ydnc7XHJcbiAgICB0b3A6IDE2LjR2dztcclxuICAgIGxlZnQ6IDI4dnc7XHJcbn1cclxuLm1hcC1pbmZvLWJsb2Nre1xyXG5cdHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuXHR6LWluZGV4OiAxMDAwMDA7XHJcblx0dHJhbnNpdGlvbjogLjRzIGFsbCBlYXNlO1xyXG5cdGRpc3BsYXk6IGZsZXg7XHJcblx0ZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcclxuXHRiYWNrZ3JvdW5kOiAjRkZGRkZGO1xyXG5cdGJveC1zaGFkb3c6IHZ3KC0xMSkgdncoOCkgdncoMTgpIHJnYmEoMCwgMCwgMCwgMC4zNSk7XHJcblx0Ym9yZGVyLXJhZGl1czogdncoMyk7XHJcblx0cGFkZGluZy10b3A6IHZ3KDE2KTtcclxuXHRwYWRkaW5nLWJvdHRvbTogdncoMTYpO1xyXG5cdHBhZGRpbmctbGVmdDogdncoMTApO1xyXG5cdHBhZGRpbmctcmlnaHQ6IHZ3KDExKTtcclxuXHRvcGFjaXR5OiAwO1xyXG5cdHZpc2liaWxpdHk6IGhpZGRlbjtcclxuXHRwb2ludGVyLWV2ZW50czogbm9uZTtcclxufVxyXG4ubWFwLWluZm8tYmxvY2suYWN0aXZle1xyXG5cdG9wYWNpdHk6IDE7XHJcblx0dmlzaWJpbGl0eTogdmlzaWJsZTtcclxufVxyXG4ubWFwLWluZm8tYmxvY2tfX3RpdGxle1xyXG5cdGZvbnQtZmFtaWx5OiBBcmlhbDtcclxuXHRmb250LXNpemU6IHZ3KDE0KTtcclxufSIsIkBmdW5jdGlvbiB2bSgkcHgpIHtcclxuXHRAcmV0dXJuICRweC8oMzc1IC8gMTAwdncpO1xyXG59IFxyXG5AbWVkaWEgKG1pbi13aWR0aDogNzY4cHgpe1xyXG5cdC5tb2ItdHJ1ZXtcclxuXHRcdGRpc3BsYXk6IG5vbmUhaW1wb3J0YW50O1xyXG5cdH1cclxufVxyXG5AbWVkaWEgKG1heC13aWR0aDogNzY3cHgpe1xyXG5cdC5wYy10cnVle1xyXG5cdFx0ZGlzcGxheTogbm9uZSFpbXBvcnRhbnQ7XHJcblx0fVxyXG59IiwiQGltcG9ydCAnZm9udHMuc2Nzcyc7XHJcbkBpbXBvcnQgJ3N0eWxlLnNjc3MnO1xyXG5AaW1wb3J0ICdfbWVkaWEuc2Nzcyc7XHJcblxyXG5cclxuaHRtbCxib2R5e1xyXG5cdGZvbnQtc2l6ZTogMTZweDtcclxuXHRvdmVyZmxvdy14OiBoaWRkZW47XHJcbn1cclxuaHRtbHtcclxuXHRcclxufVxyXG5ib2R5e1xyXG5cdG92ZXJmbG93OiBoaWRkZW47XHJcblx0cG9zaXRpb246IHJlbGF0aXZlO1xyXG5cdGJhY2tncm91bmQtY29sb3I6ICNmZmY7XHJcbn1cclxuaW5wdXR7XHJcblx0b3V0bGluZTogbm9uZTtcclxufVxyXG5cclxudWwsbGl7XHJcblx0bGlzdC1zdHlsZS10eXBlOiBub25lO1xyXG5cdG1hcmdpbi1ib3R0b206IDA7XHJcbn1cclxucHtcclxuXHRtYXJnaW4tYm90dG9tOiAwO1xyXG59XHJcbmF7XHJcblx0Y29sb3I6IGluaGVyaXQ7XHJcblx0dGV4dC1kZWNvcmF0aW9uOiBub25lO1xyXG5cdCY6aG92ZXJ7XHJcblx0XHR0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcblx0XHRjb2xvcjogaW5oZXJpdDtcclxuXHR9XHJcbn1cclxuKntcclxuXHRwYWRkaW5nOiAwO1xyXG5cdG1hcmdpbjogMDtcclxuXHRvdXRsaW5lOiBub25lIWltcG9ydGFudDtcclxufVxyXG4iXX0= */
